body{
    text-align: center;
    background-color: #f7d54a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.big{
    font-size: 100px ;
    color: #d1ac13;
}